# Supabase PostgreSQL Connection String
SUPABASE_DB_URL=postgresql://postgres:YOUR_PASSWORD@db.YOUR_SUPABASE_ID.supabase.co:5432/postgres

# Upstash Redis Connection String
UPSTASH_REDIS_URL=rediss://default:YOUR_PASSWORD@YOUR_UPSTASH_HOST.upstash.io:6379
